html,body,#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-width: 1280px;
    min-height: 600px;
}
.el-breadcrumb{
    margin-bottom: 20px;
    font-size: 14px!important;
}
.el-table {
    margin-top: 20px; 
}
.zk-table {
    margin-top: 20px;
   
}
.el-pagination{
    margin: 15px 0;
    margin-right: 10px;
    float: right;
}
.el-steps{
    margin: 20px 0;
}
.ql-editor {
    min-height: 300px;
}